<% if @tweet.errors.any? %>
  <div id="error_explanation">
    <% @tweet.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>
<% end %>

<%= form_with(model: @tweet, local: true, url: choose_new_or_edit ) do |form| %>
  <div class="tweet_content">
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
