<div class="form">
  <%= form_with(model: @tweet, local: true, url: choose_new_or_edit ) do |form| %>
      <div class="tweet_content row">
        <%= form.text_area :content %>
        <%= form.submit %>
      </div>
  <% end %>
</div>
