<div class="wrapper">
  <% if @tweet.errors.any? %>
      <div id="error_explanation">
        <% @tweet.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      </div>
  <% end %>
  <script>
    $(".alert-danger" ).fadeOut(3000);
  </script>

  <div class="tweet_form">
    <%= render 'form' %>
  </div>
</div>
