<div class="container">

  <% if @tweet.errors.any? %>
      <div id="error_explanation">
        <% @tweet.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      </div>
  <% end %>

    <div class="jumbotron">
        <%= render 'form' %>
    </div>

</div>
