
header {
  width: 100%;
  background-color: pink;
  height: 150px;
}

header .yuruitter_icon {
  padding: 30px;
}

footer {
  width: 100%;
  background-color: pink;
  height: 50px;
  text-align: center;
  color: white;
  bottom: 0;
}

body {
  background-color: pink;
}

.jumbotron {
  background-image: url("hukidashi.png");
  background-size: 720px 135px;
  background-position: center;
}

.form {
  padding-left: 100px;
}

.empty {
  height: 50px;
}
